/* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* .main_div {
  display: flex;
} */


/*.img_class {
  height: 893.4921875px;
  width: 926.048583984375px;
  margin-left: 92px;
  margin-top: 159px;
  border-radius: 0px;
}*/

/* styled *, .logo, .img_class, .card, .card p, .label, .card-body, form, .box, #btn, #btn:hover,
.social_icon, .social_icon img, .card-body input(John Ekunola) */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-div {
    display: flex;
    width: auto;
    margin: 10px;
    background: linear-gradient(90deg, #9DECE7 44.8%, #FFFFFF 100%);
    height: 100%;    
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.img_class {
    height: 893.4921875px;
    width: 926.048583984375px;
    margin-left: 92px;
    margin-top: 159px;
    border-radius: 0px;
}

.card {
    width: 500px;
    height: 900px;
    /* background-color: red; */
    border-radius: 30px;
    backdrop-filter: blur(5px);
    overflow: hidden;
    margin: 0 46px;
    
} 

.card p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-size: 26px;
}

.label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 10px;
    padding: 2px;
    font-size: 20px;
}


.card-body {
    padding: 30px 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: auto;
    margin-top: 30px;
}

.box {
    padding: 11px;
    margin: 10px;
    width: 65%;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1rem;
}

#btn {
    padding: 10px 20px;
    margin: 10px;
    /* margin-top: 20px; */
    width: 65%;
    margin: 20px 80px;
    background: #9DECE7;
    box-shadow: 0px -2px 37px -3px rgba(113, 122, 122, 0.5);
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1rem;
}

#btn:hover {
    cursor: pointer;
    background-color: #fff;
    color: #9DECE7;;
}

.card-body input {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border: none;
    padding: 20px 0 0 10px;
    color: #001125;
    outline: none;
    border-radius: 3px;
    background: rgba(252, 252, 252, 0.2);
    cursor: pointer;
} 

.social_icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10rem;
    overflow: hidden;
}

.social_icon img {
    cursor: pointer;
}